<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Uros</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/favicon.ico" rel="icon">

  <link href="../static/styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="topnav">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#education">Education</a>
    <a href="#experience">Experience</a>
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
  <div id="home" class="section">
    <h1>I'm Uroš Matijašević</h1>
    <p>Welcome! This is my portfolio website. Explore my work and learn more about me!</p>
  </div>
  <div id="about" class="section">
    <h2>About Me</h2>
    <p>I'm a quick learner, adaptable and passionate Developer with experience in Python, Django, Flask, SQL and more. I enjoy working on diverse projects that challenge me and help me grow as a developer.</p>
  </div>
  <div id="education" class="section">
    <h2>Education</h2>
    <h3>Faculty of Computing</h3>
    <p><strong>Computer Engineering</strong> - Expected July 2026 (Second year)</p>
    <h3>Faculty of Electrical Engineering</h3>
    <p><strong>Power Engineering</strong> - 2016-2021</p>
  </div>
  <div id="experience" class="section">
    <h2>Experience</h2>
    <div class="job">
      <h3>Full Stack Developer Intern</h3>
      <p><strong>IT Development</strong>, Pančevo, Serbia</p>
      <p>06/2023 - Current</p>
      <p>Developed API endpoints using Python Django Rest Framework for a biomedical company</p>
      <p>Collaborated on the creation of web applications with mentor supervision</p>
    </div>
    <div class="job">
      <h3>Fraud Analyst</h3>
      <p><strong>Optic Power</strong>, Belgrade, Serbia</p>
      <p>07/2021 – 11/2022</p>
      <p>Conducted document reviews to identify potential fraud</p>
      <p>Collected and labeled data for machine learning purposes</p>
    </div>
  </div>
  <div id="skills" class="section">
    <h2>Skills</h2>
    <p>Python | SQL | Django (REST) Framework | Flask | Selenium | Postman | Tkinter | Git | Jinja | Bootstrap | HTML | CSS | SQLite | PostgreSQL | MySQL (Workbench) | MATLAB | Pascal (Basic) | C (Basic) | Microsoft Office Package <strong>, and much more!</strong></p>
  </div>
  <div id="projects" class="section">
    <h2>Projects</h2>
    <div class="project">
      <h3>Django REST Projects</h3>
      <p>Backend (MySQL, PostgreSQL, SQLite) – Django REST project with database, implemented backend logic with authentication, permissions, and endpoints for various views.</p>
    </div>
    <div class="project">
      <h3>Django Flask Projects</h3>
      <p>Backend (MySQL) - Created a Flask Rest project with a database, implementing authentication, permissions, pagination, and API endpoints for various views.</p>
    </div>
  </div>
  <div id="contact" class="section">
    <h2>Contact Me</h2>
    <p>If you're interested in collaborating or have any questions, feel free to reach out to me at <a href="mailto:umatijasevic@gmail.com"><strong><u>umatijasevic@gmail.com</u></strong></a>. You can also find me on <a href="https://github.com/UrosMatijas/" target="_blank">GitHub</a>.</p>
  </div>
</body>
</html>